@{
    ViewData["Title"] = "Home Page";
}


<section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url('~/images/bg-img/1.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Welcome Text -->
                        <div class="welcome-text text-center">
                            <h2 data-animation="fadeInUp" data-delay="100ms">We Believe Everyone Should Have Easy Access To Great Dental Care</h2>
                            <p data-animation="fadeInUp" data-delay="300ms">
                                Вселената - някои я наричат Библиотеката. - Хорхе Луис Борхес
                            </p>
                            <div class="welcome-btn-group">
                                <button type="button" class="btn dento-btn mx-2" data-toggle="modal" data-target="#registrationModal">
                                    Регистрация
                                </button>
                                <button type="button" class="btn dento-btn mx-2" data-toggle="modal" data-target="#loginModal">
                                    Вход
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <!--<form action="#" method="post">

         <div class="form-group row">
             <span asp-validation-for="SingIn.UserNameSingIn" class="text-danger row"></span>

             <label asp-for="SingIn.UserNameSingIn" class="control-label col-md-4">Потребителко име</label>
             <input asp-for="SingIn.UserNameSingIn" class="form-control col-md-7" />
         </div>
         <div class="form-group row">
             <span asp-validation-for="SingIn.PasswordSingIn" class="text-danger row"></span>

             <label asp-for="SingIn.PasswordSingIn" class="control-label col-md-4">Парола</label>
             <input asp-for="SingIn.PasswordSingIn" class="form-control col-md-7" />
         </div>
         <div class="form-group">
             <input type="submit" value="Влез" class="btn btn-default" />
         </div>
     </form>-->
</div>
<!-- ***** Welcome Area End ***** -->
<!--
<div class="container">
    <form action="#" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <span asp-validation-for="SingIn.UserNameSingIn" class="text-danger row"></span>
            <label asp-for="SingIn.UserNameSingIn" class="control-label col-md-4">Потребителко име</label>
            <input asp-for="SingIn.UserNameSingIn" class="form-control col-md-7" />
        </div>
        <div class="form-group row">
            <span asp-validation-for="SingIn.PasswordSingIn" class="text-danger row"></span>
            <label asp-for="SingIn.PasswordSingIn" class="control-label col-md-4">Парола</label>
            <input asp-for="SingIn.PasswordSingIn" class="form-control col-md-7" />
        </div>
        <div class="modal-footer">
            <input type="submit" value="Влез" class="btn dento-btn booking-btn" />
        </div>
    </form>
</div>-->
<div class="container">
    <!-- ***** Welcome Area Start ***** -->
    <!--
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModal-label">Регистриране</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form action="#" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span asp-validation-for="SingUp.UserNameSingUp" class="text-danger row"></span>
                                <span asp-validation-for="SingUp.PasswordSingUp" class="text-danger row"></span>
                                <span asp-validation-for="SingUp.ConfrimPasswordSingUp" class="text-danger row"></span>
                                <span asp-validation-for="SingUp.EmailSingUp" class="text-danger row"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <label asp-for="SingUp.UserNameSingUp" class="control-label col-md-4">Потребителко име</label>
                                    <input asp-for="SingUp.UserNameSingUp" class="form-control col-md-7" />
                                </div>
                                <div class="form-group row">
                                    <label asp-for="SingUp.PasswordSingUp" class="control-label col-md-4">Парола</label>
                                    <input asp-for="SingUp.PasswordSingUp" class="form-control col-md-7" />
                                </div>
                                <div class="form-group row">
                                    <label asp-for="SingUp.ConfrimPasswordSingUp" class="control-label col-md-4">Потвърди парола</label>
                                    <input asp-for="SingUp.ConfrimPasswordSingUp" class="form-control col-md-7" />
                                </div>
                                <div class="form-group row">
                                    <label asp-for="SingUp.EmailSingUp" class="control-label col-md-4">Email адрес</label>
                                    <input asp-for="SingUp.EmailSingUp" class="form-control col-md-7" />
                                </div>
                                <div class="form-group ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Регистрирай се" class="btn dento-btn booking-btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>-->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
